body {
    background-color:#99cccc;
    font-family:"Helvetica", "Arial", sans-serif;
    font-size:12px;
    line-height:16px;
}

a {
    text-decoration:none;
    color:#99cccc;
}

a:hover {
    color:#cc9999;
}

#header {
    position:absolute;
    top: 20px;
    margin-left:100px;
    font-style:italic;
}
#header h1 {
    color: #fff;
    font-size:36px;
    font-weight: 900;
    text-align:center;
    -moz-text-shadow: 0 2px 3px #444; /* Firefox */
    -webkit-text-shadow: 0 2px 3px #444; /* Safari, Chrome */
    text-shadow: 0 2px 3px #444; /* CSS3 */
}
#header h1 span {
    font-weight: 300;
}
#header h3 {
    color: #fff;
    margin-top:10px;
    margin-left: 200px;
    font-size:14px;
    font-weight:600;
    -moz-text-shadow: 0 2px 3px #444; /* Firefox */
    -webkit-text-shadow: 0 2px 3px #444; /* Safari, Chrome */
    text-shadow: 0 2px 3px #444; /* CSS3 */
}
#primary_nav {
    width:100%;
    height:40px;
    margin:0 40px;
    font-size: 24px;
    font-weight: 300;
}
#primary_nav ul {
    padding: 10px 0;
}
#primary_nav li {
    float:left;
    margin-right: 15px;
}
#primary_nav li a {
    color:#99cccc;
    text-decoration:none;
}
#primary_nav li a:hover {
    color:#cc9999;
}
#mainContent {
    background-color:#fff;
    margin: 85px auto 0;
    -moz-box-shadow: 0 3px 5px #444;
    -webkit-box-shadow: 0 3px 5px #444;
    box-shadow: 0 3px 5px #444;  
}

#content {
    padding: 10px 10px 20px;
    width: 680px;
}

.wide {
    width: 920px !important;
}

#sidebar {
    padding: 10px 10px 20px;
    width: 200px;
}

#content h2 {
    font-size:18px;
    padding-bottom:5px;
    padding-top:10px;
}

#content h2 span {
    font-weight:300;
    font-style:italic;
}

#content p {
    padding-bottom:7px;
}

#footer {
    color: #fff;
    margin-top:20px;
    width:100%;
    text-align:center;
}

#right {
    overflow: hidden;
}

#right img {
    margin: 10px 0;
}

#right p, .form label {
    font-size:16px;
    line-height: 20px;
    margin: 10px 0;
}

.form li {
    width: 500px;
    margin: 10px 0;
}

.form textarea {
    width: 500px;
    height: 50px;
    margin-top: 7px;
}

.form label {
    margin-bottom: 7px;
}

h1#quote {
    padding-left: 25px;
    color:#cc9999;
    font-size:48px;
    line-height:54px;
    font-weight: 100;
}

h1#quote span {
    font-size:24px;
}