{% extends "skeleton/_body.html" %}

{%hyde
    title: "FAQs"
    created: 2012-02-05 11:34:00
    listing: True
%}

{% block content_body %}
<h2>Common Questions About Birth Doulas</h2>

<h4>Will my partner feel left out if we hire a doula?</h4>
   <p>Ideally, the doula and partner's roles at a birth
are complementary to each other. For many partners,
having a doula present frees them from the pressure of
being the only support for the mother. Penny Simkin
the founder of Doulas of North America states: “The
doula's skills and knowledge can help him to feel more
relaxed.” A doula understand that this birth also
belongs to the partner, and feels it is important to
care for the whole family through out the birthing
process.</p>

<h4>How much do doulas charge?</h4>
  <p>The range of cost for an established doula in
Chicago and the surrounding areas is around $500-1200
dollars. What this fee covers varies from doula to
doula, but in most cases the couple will have at least
one or two prenatal visits, attending the birth
(whether it is 3 hours or 30 hours) and one or two
postpartum visits.  Usually, the higher the cost the
more experienced a doula is.</p>
    <p>However, there are many doulas who do volunteer or
lost cost births. Please contact me if you need help
finding a doula, I would be more then happy to help.</p>

<h4>Why do doulas cost so much money?</h4>
    <p>When you hire a doula you are paying not only for
her expertise, comfort and support but also her time
“on call”, 24 hours a day, until the baby is born. For
most doulas being on call means they drop what ever
they are currently doing or any plans they have made
to be at your birth. Once they arrive at your birth
they do not leave until the baby is born.  Other costs
for the doula could be travel expenses (gas, valet
parking or taxies), paying another doula for being her
back up, baby-sitting and insurance costs to name some
examples.</p>

<h4>What is the difference between a doula and midwife?</h4>
   <p>Penny Simkin sums this up nicely in her paper on
Doulas and Dads. “Physicians, midwives and nurses are
responsible for monitoring labor, assessing the
medical condition of the mother and baby, and treating
complications when they arise. But childbirth is also
an emotional and spiritual experience with long-term
impact on a woman's personal well being. A doula is
constantly aware that the mother and her partner will
remember this experience throughout their lives. By
‘mothering the mother’ during childbirth the doula
supports the parents in having a positive and
memorable birth experience.”</p>

<h2>Common Questions about Childbirth Education classes</h2>

<h4>I am not sure I want natural childbirth, is this class
for me?</h4>

   <p>Many women are uncertain of what type of birth
they want. The information covered in class is
beneficial no matter what type of birth you have.</p>

<h4>I am single and don’t have a mate to attend the class
with me, can I still sign up?</h4>

  <p>Yes! You are more then welcome to bring anyone who
will be at your birth to the class; a family member,
doula, friend etc. In fact it is ideal to bring the
person who will be your main support at the birth to
class. If you feel that you donÕt have any support
people, please call or email me to work something out.</p>

<h4>My hospital provides classes for expectant families
why should I take a class somewhere else?</h4>
   <p>There is a great benefit to taking an independent
(out of/ or not associated with a hospital) childbirth
education class*. Because the teacher is not tied to
any hospital policies she can be more candid and the
classes are usually much more extensive. An
independent class will dive into a whole range of
topics that will not come up in hospital based
classes, this can be particularly important if you
want a natural childbirth. I will say that my Comfort
Measures class tends to attract couples who took a
class at the hospital and feel like they need to learn
more about the labor process after doing so.</p>
   <p>Having said that, it can be good to take a
hospital class or at the very least a tour of the
facilities. This way you can learn more about the
place you are giving birth first hand. Also questions
like “Do you have birth balls?” or “Can I labor in the
water?” may be answered.</p>
  <p>Many families I work with mix independant and
hospital class together.</p>


<h4>Will I know how to give birth after this class?</h4>

  <p>Believe it or not, you already know how to birth
your baby! We do cover all types of comfort measures,
breathing, relaxation techniques and visualizations.
We discuss fear of birth and how to overcome it, as
well as complications that can occur.  Your body was
made to do this work, so the class is designed to help
you discover the best birth for you.</p>
{% endblock %}

{% block sidebar %}
<div id="right">
    <img src="{{site.url}}/media/images/OmarBreastFeeding.jpg">
</div>
{% endblock %}