{% extends "skeleton/_body.html" %}

{%hyde
    title: "About Natalie"
    created: 2012-02-05 11:03:00
    listing: True
%}

{% block content_body %}

<h2>About Natalie</h2>
<p>Natalie Evans is a certified Childbirth Educator through ALACE (Association of Labor Assistants and Childbirth Educators) and birth doula. She has enjoyed the rewarding work of teaching and being a doula for over 7 years. Along with her birth work she also enjoys the exciting and difficult job of being the mother of two children, one born at Evanston Northwestern hospital and one a home water birth.
</p>

{% endblock %}

{% block sidebar %}
<div id="right">
        <img src="{{site.url}}/media/images/Natalie.jpg">
    </div>
{% endblock %}
