{% extends "skeleton/_body.html" %}

{%hyde
    title: "Childbirth Education"
    created: 2012-02-05 10:44:00
    listing: True
%}

{% block content_body %}
<h2>Childbirth Education</h2>
			<p>This 8 or 9 week (depending on where you take the class) series is a informative, creative way to learn about giving birth and becoming parents. The class will provide you with the resources and support you need to confidently and consciously prepare for birth and your transition to parenthood. Each week's class will focus on a particular topic such as comfort measures for labor, how to address fears and concerns about the birth process, breast feeding and caring for your newborn. The final session will be a potluck celebration where couples from previous classes come back with their newborns and share their experiences with the current class.</p>

<p>If you would like a more detailed description of topics covered in class please contact me using the info in the site header.</p>
			<p><strong>Upcoming classes:</strong></p>
			<p>January 6, 2012&ndash;March 2, 2012 at <a href="http://www.bloomyogastudio.com/calendar.php">Bloom Yoga Studio</a> (9 week series; 6:30&ndash;8:30pm Fridays)</p>
			<p>March 9, 2012&ndash;May 4, 2012 at <a href="http://www.bloomyogastudio.com/calendar.php">Bloom Yoga Studio</a> (9 week series; 6:30&ndash;8:30pm Fridays)</p>
			<p>January 8, 2012&ndash;February 26, 2012 <a href="http://www.bebybaby.com/classschedule/calendar.cfm">Be By Baby</a> (8 week series; 3&ndash;5pm Sundays)</p>
			
			<h2>Comfort Measures for Childbirth and Beyond <span>(One class, lasting four hours)</span></h2>
			<p>This unique workshop is designed for pregnant women and their labor support partner(s). Through both discussion and experiential learning, we will explore a variety of tools to assist in the process of labor and birth. The postpartum period will also be discussed. We will cover the following techniques: Massage, breathing, positions for labor and birth, visualization, sound, aromatherapy, heat and cold, and acupressure.</p>
			<p><strong>Upcoming classes:</strong></p>
			<p>February 18, 2012, 2&ndash;6pm at <a href="http://www.bebybaby.com/PRODUCTS2CLASSES.CFM?id=2993">Be By Baby</a></p>
			<h2>Birth Basics<span> (One class lasting 2 hours)</span></h2>
			<p>Through a combination of discussion, experiential exercises, handouts, and viewing of birth videos, this workshop will better prepare you for labor. You and your partner will leave with a variety of techniques to help you manage contractions through each stage, as well as specific comfort measures for home &amp; hospital. Whether you've already taken a childbirth prep series but are looking for specific tips about labor, or you're having a second (or third!) baby and are looking for a refresher, this workshop is a perfect way to get ready for your baby's birth. Recommended in the third trimester of pregnancy.</p>
			<p><strong>Upcoming classes:</strong></p>
			<p>March 24, 2012, 12:30&ndash;2:30pm at <a href="http://www.bloomyogastudio.com/calendar.php">Bloom Yoga Studio</a></p>
{%endblock%}

{% block sidebar %}
<div id="right">
        <img src="{{site.url}}/media/images/Class1.jpg">
        <img src="{{site.url}}/media/images/Class2.jpg">
        <img src="{{site.url}}/media/images/Class3.jpg">
</div>
{% endblock %}