{% extends "skeleton/_body.html" %}

{%hyde
    title: "Childbirth Education"
    created: 2012-02-05 10:44:00
    listing: True
%}

{% block content_body %}
<h2>Childbirth Education</h2>
			<p>This 8 or 9 week (depending on where you take the class) series is a informative, creative way to learn about giving birth and becoming parents. The class will provide you with the resources and support you need to confidently and consciously prepare for birth and your transition to parenthood. Each week's class will focus on a particular topic such as comfort measures for labor, how to address fears and concerns about the birth process, breast feeding and caring for your newborn. The final session will be a potluck celebration where couples from previous classes come back with their newborns and share their experiences with the current class.</p>

<p>If you would like a more detailed description of topics covered in class please contact me using the info in the header.</p>
			<p>I teach this class at:</p>
			<p><a href="http://www.bloomyogastudio.com/">Bloom Yoga Studio</a> (9 week session) and at <a href="http://www.bebybaby.com/">Be By Baby</a> (8 week session)</p>
			<h2>Comfort Measures for Childbirth and Beyond <span>(One class, lasting three hours)</span></h2>
			<p>This unique workshop is designed for pregnant women and their labor support partner(s). Through both discussion and experiential learning, we will explore a variety of tools to assist in the process of labor and birth. The postpartum period will also be discussed. We will cover the following techniques: Massage, breathing, positions for labor and birth, visualization, sound, aromatherapy, heat and cold, and acupressure.</p>
			<p>I teach this class at <a href="http://www.bebybaby.com/">Be By Baby</a></p>
			<h2>Second Time Around <span>(One class, lasting two hours)</span></h2>
			<p>A refresher for childbirth and parenting, this class is designed for families expecting their second (or third) child. We will discuss physical and emotional support for labor and delivery, sibling adjustment, and special situations that arise when your family expands. Topics addressed include comfort measures for labor, discussion of how your previous birth and child affect this birth, the sibling's perspective of pregnancy, birth and the newborn, and the new family working together. Come and learn about the joys of an expanding family!</p>
			<p>I teach this class at <a href="http://www.bebybaby.com/">Be By Baby</a></p>

{%endblock%}

{% block sidebar %}
<div id="right">
        <img src="{{site.url}}/media/images/Class1.jpg">
        <img src="{{site.url}}/media/images/Class2.jpg">
        <img src="{{site.url}}/media/images/Class3.jpg">
</div>
{% endblock %}