{% extends "skeleton/_body.html" %}

{%hyde
    title: "Childbirth Education"
    created: 2012-02-05 10:44:00
    listing: True
%}
{% block content_body %}
<h2>What is a Doula?</h2>
<p>The word “doula” comes from ancient Greek and is now used to refer to a woman who helps other women. It has been applied to childbirth to refer to <i>“a woman experienced in childbirth who provides continuous physical, emotional, and informational support to the mother before, during, and just after childbirth.”</i> (Klaus, Kennell, and Klaus, in <i>Mothering the Mother</i>)</p>
<h2>A Birth Doula</h2>
<ul>
<li> Recognizes birth as a significant experience that the mother will remember all her life</li>
<li> Understands the physiology of birth and the emotional needs of a woman in labor</li>
<li> Assists the woman and her partner in preparing for and carrying out their plans for the birth</li>
<li> Stays by the side of the laboring woman throughout the entire labor </li>
<li> Provides emotional support, physical comfort measures, objective viewpoint, and assistance to the woman in getting the information she needs to make good decisions</li>
<li> Facilitates communication between the laboring woman, her partner and care providers</li>
<li> Perceives her role as one who nurtures and protects the woman's memory of her birth experience</li>
</ul>
<h2>The Effects of Doula Support</h2>
<ul>
<li> Labors are shorter</li>
<li> There are fewer complications</li>
<li> Cesarean rates are reduced</li>
<li> Use of forceps is reduced</li>
<li> There is less need for oxytocin to speed up labor</li>
<li> Women request less pain medication and epidurals</li>
</ul>
<h2>Effects of Doula Support on the Mother</h2>
<ul>
<li> Greater satisfaction with childbirth</li>
<li> More positive assessments of their babies</li>
<li> Less postpartum depression</li></ul>
<h2>Effects of Doula Support on the Baby</h2>
<ul>
<li> Babies have shorter hospital stays and fewer admissions to special care nurseries</li>
<li> Babies breastfeed more easily</li>
<li> Mothers are more affectionate to their babies postpartum</li></ul>
<h2>The Benefit of Continuous Support in Labor is Recognized by:</h2>
<ul>
<li> The World Health Organization –The Medical Leadership Council (an organization of over 1200 U.S. hospitals)</li>
<li> The Society of Obstetricians and Gynaecologists of Canada</li>
</ul>
<h2>How Doulas Practice</h2>
<ul>
<li> Privately, hired directly by clients</li>
<li> As hospitals employees</li>
<li> As volunteers in community or hospital programs</li>
</ul>
<p>DONA A non-profit organization incorporated in 1992 which trains and certifies doulas according to ethical standards. To locate a doula in your area or to find out about DONA approved training visit their web page at <a title="DONA Site" href="http://www.dona.org" target="http://www.dona.org">www.dona.org</a>, e-mail at <a href="mailto:Doula@DONA.org">Doula@DONA.org</a> or call (801) 756–7331.</p>
<h2>For More Information</h2>
<ul>
<li> Check out the <a href="{{ site.url }}/faqs/index.html">FAQ page</a></li>
<li> Contact Natalie directly at (773) 510-6230 or natalieannevans [at] gmail [dot] com</li>
</ul>
{% endblock %}

{% block sidebar %}
<div id="right">
        <img src="{{site.url}}/media/images/Doula.jpg">
        <img src="{{site.url}}/media/images/Rocking.jpg">
        <img src="{{site.url}}/media/images/SandraTub.jpg">
    </div>
{% endblock%}